In [82]:
import pandas as pd
import numpy as np

In [83]:
movies=pd.read_csv('movies.csv')

**Q1)Rename the column 'One-Line' name**

In [84]:
movies=movies.rename(columns=({'ONE-LINE': 'STORYLINE'}))

In [85]:
movies.head(1)

,MOVIES,YEAR,GENRE,RATING,STORYLINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN

**Q2)Clean the year column by replacing and using strip function**

In [86]:
movies['YEAR'] = movies['YEAR'].str.replace(r'[^\d-]','')
movies['YEAR'] = movies['YEAR'].replace('', np.nan)

<ipython-input-86-60f5450cba72>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  movies['YEAR'] = movies['YEAR'].str.replace(r'[^\d-]','')

In [87]:
movies['YEAR'] = movies['YEAR'].fillna('0')

In [88]:
movies['YEAR'] = movies['YEAR'].astype(int)

In [89]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MOVIES     9999 non-null   object
 1   YEAR       9999 non-null   int64
 2   GENRE      9919 non-null   object
 3   RATING     8179 non-null   float64
 4   STORYLINE  9999 non-null   object
 5   STARS      9999 non-null   object
 6   VOTES      8179 non-null   object
 7   RunTime    7041 non-null   float64
 8   Gross      460 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 703.2+ KB

**Q3)Split the star and Director column with your suitable conditional.**

In [90]:
movies['DIRECTOR'] = movies['STARS'].str.split('|').str.get(0)
movies['STARS'] = movies['STARS'].str.split('|').str[1:]

In [91]:
movies.insert(loc=5, column='DIRECTOR', value=movies.pop('DIRECTOR'))

**Q4)Perform any Data cleaning Techniques which you find useful in this.**

In [92]:
movies['DIRECTOR'] = movies['DIRECTOR'].str.replace('\n','')
movies['DIRECTOR'] = movies['DIRECTOR'].str.replace('Director:','')

In [93]:
movies.head(2)

,MOVIES,YEAR,GENRE,RATING,STORYLINE,DIRECTOR,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,Peter Thorwarth,"[ \n Stars:\nPeri Baumeister, \nCarl Anton ...","21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"Stars:Chris Wood, Sarah Michel...",[],"17,870",25.0,NaN